{% extends "base.html" %}

{% block content %}
    <h1>Reset your password</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password1.label }}
            <br>
            {{ form.password1(size=32) }}
            <br>
            {% for error in form.password1.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}
            <br>
            {{ form.password2(size=32) }}
            <br>
            {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}